#loginform {
    padding-top: 30px;
    padding-left: 20px;
}

.signin {
    padding-left: 15px;
    padding-top: 10px;
    
}

.form-group {
    min-width: 400px;
    height: auto;
}

.loginbut {
    width: 350px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}