nav {
    /* color: aliceblue; */
    padding: 20px;
}

#search {
    padding-right:10px; 
}

.logo {
    max-width:350px;
    height: auto;
}

#search {
    padding-right: 10px;
    margin-left: 10px;
  }